node_modules
**/.sync-exclude.lst

native/__pycache__
native/.venv
native/firefox_connection.json
native/error.txt
native/nowplaying.html
native/nowplaying.txt
native/settings.json

release/__main__.*
release/dist